body{
    margin:0 auto;
    
    
}

.header{
    display:flex;
    justify-content: flex-start;

}

a{
    background-color:#008080;
    border-radius:5px;
    margin-top:20px;
    margin-left:30px;
    height:25px;
    width:120px;
    padding:10px 20px;
    color:white;
    font-size:16px;
    text-align:center;
}

.name{
    padding-left:10px;
    width:380px;
    height:35px;
    border:1px solid #C0C0C0;
    border-radius:5px;
}

.password{
    width:380px;
    height:35px;
    margin-top:20px;
    padding-left:10px;
    border:1px solid #C0C0C0;
    border-radius:5px;
}

.login{
    margin-top:20px;
    background-color:#0033FF;
    border:none;
    width:180px;
    height:35px;
    color:white;
    border-radius:3px;
}
