.clearfix::after{
    content:'';
    display:block;
    clear:both;
}

.wrapper{
    width:400px;
    height:450px;
    margin:0 auto;
}
.header{
    width:400px;
    height:100px;
    background-color:#141f40;
}
.contents{
    height:250px;
    width:400px;
}

.left{
    width:250px;
    height:250px;
}

.left-upper{
    width:250px;
    height:150px;
}

.left-left{
    float:left;
    height:150px;
    width:100px;
    background-color:#dbd403;
}

.left-right1{
    float:right;
    width:150px;
    height:50px;
    background-color:#8c2727
}

.left-right2{
    float:right;
    width:150px;
    height:100px;
    background-color:#ff9e6b;
}

.left-lower{
    width:250px;
    height:100px;
}
.left-buttom{
    width:250px;
    height:100px;
    background-color:#0093b7;
    float:left;
}

.right{
    width:150px;
    height:250px;
    background-color:#80bfa8;
    float:right;
}

.footer{
    width:400px;
    height:100px;
    background-color:#d98d30;
}

*{
    margin:0;
    padding:0;
}